<app-header titulo="Botones"></app-header>

<ion-content>
  <ion-button color="primary" expand=full >Primary</ion-button>
  <ion-button color="secondary" size="small">Primary</ion-button>
  <ion-button color="tertiary" >Primary</ion-button>
  <ion-button color="success" >Primary</ion-button>
  <ion-button color="warning" >Primary</ion-button>
  <ion-button color="danger" >Primary</ion-button>
  <ion-button color="dark" >Primary</ion-button>
  <ion-button color="light" >Primary</ion-button>
  <ion-button color="medium" >Primary</ion-button>
  <ion-button color="li" >el noveno</ion-button>

</ion-content>